# Node.js
node_modules/

test.txt
# Dependency directories
pnpm-lock.yaml
yarn.lock
.env
.gitignore

# Optional: Logs and debugging
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Optional: Editor directories
.idea/
.vscode/

# Optional: OS-specific files
.DS_Store
Thumbs.db
